extends layout

block content
  include mixins/process_memory_chart
  include mixins/process_total
  include mixins/process_top_3_mem
  include mixins/process_cpu_chart
  include mixins/process_top_3_cpu
  include mixins/partition_pie
  include mixins/partition_list
  .tile.is-ancestor
    .tile.is-child.notification.is-link.has-text-centered
      strong Processes
  .tile.is-ancestor
    .tile.is-vertical.is-8
      .tile.is-parent
        .tile.is-child.card
          +process_memory_chart(1)
    .tile.is-parent.is-vertical
      .tile.is-child.card
        +process_total(1)
      .tile.is-child.card
        +process_top_3_mem(1)
  .tile.is-ancestor
    .tile.is-parent.is-vertical
      .tile.is-child.card
        header.card-header
          p.card-header-title Top 3 processes by % CPU Usage
        .card-content Hello world!
    .tile.is-vertical.is-8
      .tile.is-parent
        .tile.is-child.card
          header.card-header
            p.card-header-title Process CPU Usage
          .card-content Hello world!
  .tile.is-ancestor
    .tile.is-child.notification.is-link.has-text-centered
      strong Partitions
  .tile.is-ancestor
    .tile.is-parent.is-vertical
      .tile.is-parent
        .tile.is-child.card
          +partition_pie(1)
    .tile.is-vertical.is-5
      .tile.is-parent
        .tile.is-child.card
          +partition_list(1)
