mixin process_total(no)
  script(src="/js/charts/processTotal.js")
  header.card-header
    p.card-header-title Running Processes
  .card-content
    section.hero
      .hero-body
        .level
          .level-item.has-text-centered
            div
              p.title.is-1#process_total 0
              p.heading processes running
