mixin process_memory_chart(no) 
  script(src="/js/charts/processMemoryUsage.js")
  header.card-header
    p.card-header-title Process Memory Usage
  .card-content
    figure.image
      canvas#process-memory-chart
