mixin process_total(no)
  script(src="/js/charts/processTotal.js")
  header.card-header
    p.card-header-title Running Processes
  .card-content
    section.hero
      .hero-body
        .container.has-text-centered
          p.title.is-1.is-spaces#process_total 0
          p.subtitle processes running
